body {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.65;
    font-size: 1.2rem;
    width: 100%;
    margin: 0 auto;
    font-weight: 100;
}

header {
    background-color: black;
    padding: 30px;
}

/* H1 H2 SETTINGS */

h1,
h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 1.5;
    color: #25a2c3;
}

/* LOGO  */

.logo {
    width: 180px;
    height: auto;
}

/* BANNER */

.banner {
    background-image: url("../images/banner.jpg");
    background-position: center;
    background-size: cover;
    height: 65vh;
    padding: 25px;
    padding-bottom: 0px;
}

.banner h1 {
    margin-top: 60px;
    font-size: 46px;
    line-height: 1;
}

.banner p {
    padding: 20px;
    margin-top: 10px;
    font-size: 23px;
}

.buttom {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
    padding: 20px 40px 20px 40px;
    background-color: #f04c2f;
    color: white;
    border: none;
    border-radius: 5px;
}

/* SECTIONS  */

.sectionsOne,
.sectionsTwo {
    padding: 24px;
}

.sectionsOne {
    margin-top: 30px;
}

.sectionsOne,
.sectionsTwo,
h2 {
    margin-top: 15px;
    font-size: 25px;
}

.sectionsOne,
p {
    margin-bottom: 20px;
}

.sectionsTwo,
p {
    margin-bottom: 35px;
}

.circleImg {
    border-radius: 50%;
    width: 80%;
}

/* TESTIMONIALS  */

.epicodeGarantisce {
    background-color: #e22d0e;
    margin-bottom: 20px;
    padding-bottom: 30px;
    padding-top: 10px;
}

.epicodeGarantisce h1 {
    font-size: 40px;
    color: white;
    padding: 20px;
    margin-top: 50px;
}

cite {
    color: white;
    font-size: 22px;
}

.mr {
    font-size: 26px;
    margin-top: 30px;
    color: white;
    line-height: 1;
}

.ceoEpicode {
    font-size: 20px;
    font-weight: 100;
}

/* CARDS  */

.cards {
    border: 1px solid #dee1e3;
    margin-bottom: 50px;
    padding: 10px;
}

.cards img {
    width: 100%;
}

.cards h2 {
    font-size: 23px;
    margin-bottom: 10px;
}

.cards p {
    font-size: 22px;
}

.containerCards {
    padding: 30px;
    margin-top: 30px;
}

/* FOOTER  */

footer {
    padding: 50px;
    background-color: #25a2c3;

}

footer h1 {
    color: white;
    font-size: 45px;
    margin-bottom: 20px;
}

address {
    font-size: 20px;
    color: #c8e7f0;
    margin-bottom: 30px;
}

a {
    color: #c8e7f0;
}

hr {
    margin-left: 20%;
    margin-right: 20%;
}

.copywrite a {
    margin-top: 40px;
}

/* ICON  */

.fas {
    font-size: 25px;
}