body {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.65;
    font-size: 1.2rem;  
}

section {
    border: 1px solid black;
}

header {
    background-color: black;
    padding: 30px;
}

/* H1 H2 SETTINGS */

h1, h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 1.5;
    color: #25a2c3;
}

/* LOGO  */
.logo {
    width: 180px;
    height: auto;
}

/* BANNER */
.banner {
    background-image: url("../images/banner.jpg");
    background-position: center;
    height: 55vh;
}

.banner h1 {
    margin-top: 70px;
    font-size: 45px;
    line-height: 1;
}

.bRTIanner p {
    padding: 25px;
    margin-top: 10px;
    font-size: 23px;
}

.buttom {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-top: 20px;
    font-size: 20px;
    padding: 15px 30px 15px 30px ;
    background-color: #f04c2f;
    color: white;
    border: none;
}


